BankCustomer-ADF-ETL-ELT-ChangeDataCapture-Pipeline/ADF/L1PIPE_PROD.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LSlevel1fbhub":{"type":"string"},"AzureFunction1":{"type":"string"},"AzureDataLakeStore2":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/L1PIPE')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"description":"process files logged by getnewfiles event hub","activities":[{"name":"GetFiles","type":"Lookup","dependsOn":[{"activity":"getTodaysFiles","dependencyConditions":["Completed"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":";WITH CTE AS(SELECT FPATH,FNAME,FILEDATE,SUBSTRING(FNAME,0,PATINDEX('%[0-9]%',FNAME)-1) AS TBL\n,ROW_NUMBER() OVER(PARTITION BY FPATH ORDER BY FILEDATE) AS NUM\nFROM DBO.ETLCONTROL WHERE ISPROCESSED=0)\n\nSELECT FPATH,FNAME,TBL FROM CTE WHERE FPATH IN(SELECT FPATH FROM CTE WHERE NUM>1)\nORDER BY FILEDATE","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":"dbo","tablename":"ETLCONTROL"}},"firstRowOnly":false}},{"name":"ForEachFilesInTbl","type":"ForEach","dependsOn":[{"activity":"GetFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GetFiles').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LoadFileData","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate"},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataLakeFiles1","type":"DatasetReference","parameters":{"fpath":{"value":"@item().FPATH","type":"Expression"},"currentfile":{"value":"@item().FNAME","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":{"value":"dbo","type":"Expression"},"tablename":{"value":"@concat('STG_',item().TBL)","type":"Expression"}}}]},{"name":"Stage Data","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LoadFileData","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[STGproc]","storedProcedureParameters":{"FNAME":{"value":{"value":"@item().FNAME","type":"Expression"},"type":"String"},"FPATH":{"value":{"value":"@item().FPATH","type":"Expression"},"type":"String"},"TBL":{"value":{"value":"@concat('STG_',item().TBL)","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"}}]}},{"name":"GetOtherFiles","type":"Lookup","dependsOn":[{"activity":"getTodaysFiles","dependencyConditions":["Completed"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":";WITH CTE AS(SELECT FPATH,FNAME,FILEDATE,SUBSTRING(FNAME,0,PATINDEX('%[0-9]%',FNAME)-1) AS TBL\n,ROW_NUMBER() OVER(PARTITION BY FPATH ORDER BY FILEDATE) AS NUM\nFROM DBO.ETLCONTROL WHERE ISPROCESSED=0)\n\nSELECT FPATH,FNAME,TBL,NTILE(5) OVER(ORDER BY NUM)AS G FROM CTE WHERE FPATH NOT IN(SELECT FPATH FROM CTE WHERE NUM>1)\nORDER BY FILEDATE","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":"dbo","tablename":"ETLCONTROL"}},"firstRowOnly":false}},{"name":"Filter1","type":"Filter","dependsOn":[{"activity":"GetOtherFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GetOtherFiles').output.value","type":"Expression"},"condition":{"value":"@equals(item().G,1)","type":"Expression"}}},{"name":"ForEachFilesInTbl_copy1","type":"ForEach","dependsOn":[{"activity":"Filter1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter1').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LoadFileData_copy1","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate"},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataLakeFiles1","type":"DatasetReference","parameters":{"fpath":{"value":"@item().FPATH","type":"Expression"},"currentfile":{"value":"@item().FNAME","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":{"value":"dbo","type":"Expression"},"tablename":{"value":"@concat('STG_',item().TBL)","type":"Expression"}}}]},{"name":"Stage Data_copy1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LoadFileData_copy1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[STGproc]","storedProcedureParameters":{"FNAME":{"value":{"value":"@item().FNAME","type":"Expression"},"type":"String"},"FPATH":{"value":{"value":"@item().FPATH","type":"Expression"},"type":"String"},"TBL":{"value":{"value":"@concat('STG_',item().TBL)","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"}}]}},{"name":"ForEachFilesInTbl_copy2","type":"ForEach","dependsOn":[{"activity":"Filter2","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter2').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LoadFileData_copy2","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate"},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataLakeFiles1","type":"DatasetReference","parameters":{"fpath":{"value":"@item().FPATH","type":"Expression"},"currentfile":{"value":"@item().FNAME","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":{"value":"dbo","type":"Expression"},"tablename":{"value":"@concat('STG_',item().TBL)","type":"Expression"}}}]},{"name":"Stage Data_copy2","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LoadFileData_copy2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[STGproc]","storedProcedureParameters":{"FNAME":{"value":{"value":"@item().FNAME","type":"Expression"},"type":"String"},"FPATH":{"value":{"value":"@item().FPATH","type":"Expression"},"type":"String"},"TBL":{"value":{"value":"@concat('STG_',item().TBL)","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"}}]}},{"name":"ForEachFilesInTbl_copy3","type":"ForEach","dependsOn":[{"activity":"Filter3","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter3').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LoadFileData_copy3","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate"},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataLakeFiles1","type":"DatasetReference","parameters":{"fpath":{"value":"@item().FPATH","type":"Expression"},"currentfile":{"value":"@item().FNAME","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":{"value":"dbo","type":"Expression"},"tablename":{"value":"@concat('STG_',item().TBL)","type":"Expression"}}}]},{"name":"Stage Data_copy3","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LoadFileData_copy3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[STGproc]","storedProcedureParameters":{"FNAME":{"value":{"value":"@item().FNAME","type":"Expression"},"type":"String"},"FPATH":{"value":{"value":"@item().FPATH","type":"Expression"},"type":"String"},"TBL":{"value":{"value":"@concat('STG_',item().TBL)","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"}}]}},{"name":"ForEachFilesInTbl_copy4","type":"ForEach","dependsOn":[{"activity":"Filter4","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter4').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LoadFileData_copy4","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate"},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataLakeFiles1","type":"DatasetReference","parameters":{"fpath":{"value":"@item().FPATH","type":"Expression"},"currentfile":{"value":"@item().FNAME","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":{"value":"dbo","type":"Expression"},"tablename":{"value":"@concat('STG_',item().TBL)","type":"Expression"}}}]},{"name":"Stage Data_copy4","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LoadFileData_copy4","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[STGproc]","storedProcedureParameters":{"FNAME":{"value":{"value":"@item().FNAME","type":"Expression"},"type":"String"},"FPATH":{"value":{"value":"@item().FPATH","type":"Expression"},"type":"String"},"TBL":{"value":{"value":"@concat('STG_',item().TBL)","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"}}]}},{"name":"ForEachFilesInTbl_copy5","type":"ForEach","dependsOn":[{"activity":"Filter5","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter5').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LoadFileData_copy5","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate"},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DataLakeFiles1","type":"DatasetReference","parameters":{"fpath":{"value":"@item().FPATH","type":"Expression"},"currentfile":{"value":"@item().FNAME","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable11","type":"DatasetReference","parameters":{"schema":{"value":"dbo","type":"Expression"},"tablename":{"value":"@concat('STG_',item().TBL)","type":"Expression"}}}]},{"name":"Stage Data_copy5","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LoadFileData_copy5","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[STGproc]","storedProcedureParameters":{"FNAME":{"value":{"value":"@item().FNAME","type":"Expression"},"type":"String"},"FPATH":{"value":{"value":"@item().FPATH","type":"Expression"},"type":"String"},"TBL":{"value":{"value":"@concat('STG_',item().TBL)","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"}}]}},{"name":"Filter2","type":"Filter","dependsOn":[{"activity":"GetOtherFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GetOtherFiles').output.value","type":"Expression"},"condition":{"value":"@equals(item().G,2)","type":"Expression"}}},{"name":"Filter3","type":"Filter","dependsOn":[{"activity":"GetOtherFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GetOtherFiles').output.value","type":"Expression"},"condition":{"value":"@equals(item().G,3)","type":"Expression"}}},{"name":"Filter4","type":"Filter","dependsOn":[{"activity":"GetOtherFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GetOtherFiles').output.value","type":"Expression"},"condition":{"value":"@equals(item().G,4)","type":"Expression"}}},{"name":"Filter5","type":"Filter","dependsOn":[{"activity":"GetOtherFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('GetOtherFiles').output.value","type":"Expression"},"condition":{"value":"@equals(item().G,5)","type":"Expression"}}},{"name":"getTodaysFiles","type":"AzureFunctionActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"functionName":"Function2","method":"GET","headers":{}},"linkedServiceName":{"referenceName":"[parameters('AzureFunction1')]","type":"LinkedServiceReference"}}],"annotations":[],"lastPublishTime":"2021-04-14T18:15:57Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable11')]","[concat(variables('factoryId'), '/datasets/DataLakeFiles1')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable11')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LSlevel1fbhub')]","type":"LinkedServiceReference"},"parameters":{"schema":{"type":"string"},"tablename":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().schema","type":"Expression"},"table":{"value":"@dataset().tablename","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DataLakeFiles1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStore2')]","type":"LinkedServiceReference"},"parameters":{"fpath":{"type":"string"},"currentfile":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().currentfile","type":"Expression"},"folderPath":{"value":"@dataset().fpath","type":"Expression"},"fileSystem":"raw"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}
